Source: theme-typewriter
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: theme-typewriter
Section: main
Architecture: all
XBSC-Group: Themes
XBSC-SubGroup: Clean
Description: Typewriter Theme
 Clean typewriter theme. Courier monospaced font throughout. Gentle on
 the eyes.



